/*
    FONTS
*/
.sans-serif {
    font-family: -apple-system, BlinkMacSystemFont,
    'avenir next', avenir,
    helvetica, 'helvetica neue',
    ubuntu,
    roboto, noto,
    'segoe ui', arial,
    sans-serif;
}

/*
    Layout:
               + Header
               + Page Content
               + Footer
*/
body {
    margin: 0;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.content {
    flex: 1;
}


/*
    HEADER
*/
.header {
    color: #ffffff;
    background-color: #3771E0;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}
.header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.0rem;

    display: flex;
}
.header-link {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}
.header-link:hover {
    background-color: #608EE7;
    transition: height 0.3s ease-in-out, background-color 0.3s;
}

/*
    Page Content
*/
.page-title {
    padding: 20px;
    border-bottom: 1px solid #d3d3d3;
}

.page-title  > h1 {
    display: inline-block;
    margin:0;
    font-weight: 300;
    font-size: 1.5rem;
    color: #585858;
}

.page-title > a {
    margin-left: 100px;
    color: rgb(59,120,231);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    border-radius: .25rem;
    font-size: 1rem;
    letter-spacing: -.05em;
}

.page-title > a:hover {
    background-color: rgba(158,158,158,0.2);
    transition: height 0.3s ease-in-out, background-color 0.3s;
}
.page-title-icon--position {
    vertical-align: bottom;
    width: 20px;
}
.page-title-icon--color {
    fill: rgb(59,120,231);
}

/*
    Page Content - Dashboard
*/
.stats {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.stats-card {
    margin-right: 80px;
    margin-bottom: 20px;
}
.stats-title {
    font-weight: 300;
    font-size: 1.5rem;
    color: #585858;
}
.stats-table {
    color: #585858;
}
.stats-row {
    padding: 10px;
}
.stats-row:nth-child(odd) {
    background: #FAFAFA;
}

.stats-row span:nth-child(even) {
    text-transform: capitalize;
}

.stats-row span:nth-child(odd) {
    display: inline-block;
    font-weight: 500;
    color: black;
}

.table-small {
    min-width: 280px;
}
.table-small-first {
    width: 130px;
}

.table-large {
    min-width: 340px;
}
.table-large-first {
    width: 240px;
}

.parent-state-bool {
    left: 25px;
    position: relative
}
.state-bool {
    position: absolute;
    top: -1px;
    left: -30px;
    width: 20px;
}
.state-success  {
    fill: #00C752;
}
.state-failed {
    fill: red;
}

/*
    Page Content - Test history
*/

/*
    Page Content - Test result page
*/

/*
    Page Content - Test Suites
*/

/*
    FOOTER
*/
footer {
    background-color: #f1f1f1;
    border-top: 1px solid #d3d3d3;
    text-align:center;
    padding:20px;
    font-weight:100;
    font-size: 20px;
}
